<div class="container">
  <div class="cocktail-div">
    <h2>
      <%= @cocktail.name %>
    </h2>
    <%= link_to "Edit", edit_cocktail_path(@cocktail), class: "btn btn-warning btn-xs",method: :edit %>
  </div>
  <div class="pictures-div">
    <% if @cocktail.photos?  %>
      <% @cocktail.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
    <% end %>
  </div>
  <ul class="list-unstyled">
    <% @cocktail.doses.each do |dose| %>
      <li>
        <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Sure ?"} do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
        <strong>
          <%= dose.ingredient.name.upcase %>
        </strong>
        -
        <%= dose.description %>
      </li>
    <% end %>
  </ul>
  <%= render "doses/new", cocktail: @cocktail, dose: @dose, ingredients: @ingredients %>
</div>


