<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar-mc">
    <%= link_to "home", cocktails_path %>
    <p>
      <strong>
        <i class="fa fa-glass" aria-hidden="true"></i>
        MISTER COCKTAIL
        <i class="fa fa-glass" aria-hidden="true"></i>
      </strong>
    </p>
    <%= link_to "add a new", new_cocktail_path, data: { turbolinks: 'false' } %>
  </div>
    <%= yield %>
  <%= cloudinary_js_config %>
  </body>
</html>
